*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --background-color: #92066f;
    --color:#fff
}

header{
    background-color: var(--background-color);
    color: var(--color);
    padding: 20px;
    text-align: center;
}

.lista-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
input[type=text]{
    border-radius:5px;
    padding:10px;
    border:1px solid #ccc;
    margin-right: 5px;
}
input[type=text]:focus{
    outline: none;
}

input[type=submit]{
    border-radius: 10px;
    outline: 0;
    border: none;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--color);
}
.lista-produtos{
    max-width: 920px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}
.produto-single{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.price-produto{
    background-color: var(--background-color);
    color: var(--color);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;    
}

.total{
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;

}